<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="file">
      <h2 data-cy="fileDetailsHeading"><span jhiTranslate="maisondelapmeApp.file.detail.title">File</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ file.id }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.file.name">Name</span></dt>
        <dd>
          <span>{{ file.name }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.file.url">Url</span></dt>
        <dd>
          <span>{{ file.url }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.file.tender">Tender</span></dt>
        <dd>
          <div *ngIf="file.tender">
            <a [routerLink]="['/tender', file.tender?.id, 'view']">{{ file.tender?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.file.sme">Sme</span></dt>
        <dd>
          <div *ngIf="file.sme">
            <a [routerLink]="['/sme', file.sme?.id, 'view']">{{ file.sme?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/file', file.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
