<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appointment">
      <h2 data-cy="appointmentDetailsHeading"><span jhiTranslate="maisondelapmeApp.appointment.detail.title">Appointment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appointment.id }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.title">Title</span></dt>
        <dd>
          <span>{{ appointment.title }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.description">Description</span></dt>
        <dd>
          <span>{{ appointment.description }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.startDate">Start Date</span></dt>
        <dd>
          <span>{{ appointment.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.endDate">End Date</span></dt>
        <dd>
          <span>{{ appointment.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maisondelapmeApp.Status.' + appointment.status }}">{{ appointment.status }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.location">Location</span></dt>
        <dd>
          <span jhiTranslate="{{ 'maisondelapmeApp.AppointmentLocation.' + appointment.location }}">{{ appointment.location }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.rate">Rate</span></dt>
        <dd>
          <span>{{ appointment.rate }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.smeRepresentative">Sme Representative</span></dt>
        <dd>
          <div *ngIf="appointment.smeRepresentative">
            <a [routerLink]="['/sme-representative', appointment.smeRepresentative?.id, 'view']">{{ appointment.smeRepresentative?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.advisor">Advisor</span></dt>
        <dd>
          <div *ngIf="appointment.advisor">
            <a [routerLink]="['/advisor', appointment.advisor?.id, 'view']">{{ appointment.advisor?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.partnerRepresentative">Partner Representative</span></dt>
        <dd>
          <div *ngIf="appointment.partnerRepresentative">
            <a [routerLink]="['/partner-representative', appointment.partnerRepresentative?.id, 'view']">{{
              appointment.partnerRepresentative?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.appointment.object">Object</span></dt>
        <dd>
          <div *ngIf="appointment.object">
            <a [routerLink]="['/appointment-object', appointment.object?.id, 'view']">{{ appointment.object?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
