<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-availability-timeslot-heading"
        data-cy="AvailabilityTimeslotCreateUpdateHeading"
        jhiTranslate="maisondelapmeApp.availabilityTimeslot.home.createOrEditLabel"
      >
        Create or edit a Availability Timeslot
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.availabilityTimeslot.startHour" for="field_startHour"
            >Start Hour</label
          >
          <input type="number" class="form-control" name="startHour" id="field_startHour" data-cy="startHour" formControlName="startHour" />
          <div *ngIf="editForm.get('startHour')!.invalid && (editForm.get('startHour')!.dirty || editForm.get('startHour')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startHour')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startHour')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.availabilityTimeslot.startMin" for="field_startMin"
            >Start Min</label
          >
          <input type="number" class="form-control" name="startMin" id="field_startMin" data-cy="startMin" formControlName="startMin" />
          <div *ngIf="editForm.get('startMin')!.invalid && (editForm.get('startMin')!.dirty || editForm.get('startMin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startMin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startMin')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.availabilityTimeslot.endHour" for="field_endHour"
            >End Hour</label
          >
          <input type="number" class="form-control" name="endHour" id="field_endHour" data-cy="endHour" formControlName="endHour" />
          <div *ngIf="editForm.get('endHour')!.invalid && (editForm.get('endHour')!.dirty || editForm.get('endHour')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('endHour')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('endHour')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.availabilityTimeslot.endMin" for="field_endMin">End Min</label>
          <input type="number" class="form-control" name="endMin" id="field_endMin" data-cy="endMin" formControlName="endMin" />
          <div *ngIf="editForm.get('endMin')!.invalid && (editForm.get('endMin')!.dirty || editForm.get('endMin')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('endMin')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('endMin')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.availabilityTimeslot.day" for="field_day">Day</label>
          <select class="form-control" name="day" formControlName="day" id="field_day" data-cy="day">
            <option [ngValue]="null">{{ 'maisondelapmeApp.Day.null' | translate }}</option>
            <option value="MONDAY">{{ 'maisondelapmeApp.Day.MONDAY' | translate }}</option>
            <option value="TUESDAY">{{ 'maisondelapmeApp.Day.TUESDAY' | translate }}</option>
            <option value="WEDNESDAY">{{ 'maisondelapmeApp.Day.WEDNESDAY' | translate }}</option>
            <option value="THURSDAY">{{ 'maisondelapmeApp.Day.THURSDAY' | translate }}</option>
            <option value="FRIDAY">{{ 'maisondelapmeApp.Day.FRIDAY' | translate }}</option>
            <option value="SATURDAY">{{ 'maisondelapmeApp.Day.SATURDAY' | translate }}</option>
            <option value="SUNDAY">{{ 'maisondelapmeApp.Day.SUNDAY' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('day')!.invalid && (editForm.get('day')!.dirty || editForm.get('day')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('day')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="maisondelapmeApp.availabilityTimeslot.advisor" for="field_advisors">Advisor</label>
          <select class="form-control" id="field_advisors" data-cy="advisor" multiple name="advisors" formControlName="advisors">
            <option
              [ngValue]="getSelectedAdvisor(advisorOption, editForm.get('advisors')!.value)"
              *ngFor="let advisorOption of advisorsSharedCollection; trackBy: trackAdvisorById"
            >
              {{ advisorOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="maisondelapmeApp.availabilityTimeslot.partnerRepresentative" for="field_partnerRepresentatives"
            >Partner Representative</label
          >
          <select
            class="form-control"
            id="field_partnerRepresentatives"
            data-cy="partnerRepresentative"
            multiple
            name="partnerRepresentatives"
            formControlName="partnerRepresentatives"
          >
            <option
              [ngValue]="getSelectedPartnerRepresentative(partnerRepresentativeOption, editForm.get('partnerRepresentatives')!.value)"
              *ngFor="let partnerRepresentativeOption of partnerRepresentativesSharedCollection; trackBy: trackPartnerRepresentativeById"
            >
              {{ partnerRepresentativeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
