<div>
  <h2 id="page-heading" data-cy="SizeHeading">
    <span jhiTranslate="maisondelapmeApp.size.home.title">Sizes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.size.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-size"
        [routerLink]="['/size/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.size.home.createLabel"> Create a new Size </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sizes?.length === 0">
    <span jhiTranslate="maisondelapmeApp.size.home.notFound">No sizes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sizes && sizes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.size.min">Min</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.size.max">Max</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.size.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let size of sizes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/size', size.id, 'view']">{{ size.id }}</a>
          </td>
          <td>{{ size.min }}</td>
          <td>{{ size.max }}</td>
          <td>{{ size.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/size', size.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/size', size.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(size)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
