<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading" jhiTranslate="maisondelapmeApp.file.home.createOrEditLabel">
        Create or edit a File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.file.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.file.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
          <div *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('url')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.file.tender" for="field_tender">Tender</label>
          <select class="form-control" id="field_tender" data-cy="tender" name="tender" formControlName="tender">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tenderOption.id === editForm.get('tender')!.value?.id ? editForm.get('tender')!.value : tenderOption"
              *ngFor="let tenderOption of tendersSharedCollection; trackBy: trackTenderById"
            >
              {{ tenderOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="maisondelapmeApp.file.sme" for="field_sme">Sme</label>
          <select class="form-control" id="field_sme" data-cy="sme" name="sme" formControlName="sme">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="smeOption.id === editForm.get('sme')!.value?.id ? editForm.get('sme')!.value : smeOption"
              *ngFor="let smeOption of smesSharedCollection; trackBy: trackSmeById"
            >
              {{ smeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
