<div>
  <h2 id="page-heading" data-cy="SMEHouseHeading">
    <span jhiTranslate="maisondelapmeApp.sMEHouse.home.title">SME Houses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.sMEHouse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sme-house"
        [routerLink]="['/sme-house/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.sMEHouse.home.createLabel"> Create a new SME House </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sMEHouses?.length === 0">
    <span jhiTranslate="maisondelapmeApp.sMEHouse.home.notFound">No sMEHouses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sMEHouses && sMEHouses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.name">Name</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.description">Description</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.address">Address</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.email">Email</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.phone">Phone</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.country">Country</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.administrator">Administrator</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.sMEHouse.frequentlyAskedQuestions">Frequently Asked Questions</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sMEHouse of sMEHouses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sme-house', sMEHouse.id, 'view']">{{ sMEHouse.id }}</a>
          </td>
          <td>{{ sMEHouse.name }}</td>
          <td>{{ sMEHouse.description }}</td>
          <td>{{ sMEHouse.address }}</td>
          <td>{{ sMEHouse.email }}</td>
          <td>{{ sMEHouse.phone }}</td>
          <td>
            <div *ngIf="sMEHouse.country">
              <a [routerLink]="['/country', sMEHouse.country?.id, 'view']">{{ sMEHouse.country?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sMEHouse.administrator">
              <a [routerLink]="['/administrator', sMEHouse.administrator?.id, 'view']">{{ sMEHouse.administrator?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let frequentlyAskedQuestions of sMEHouse.frequentlyAskedQuestions; let last = last">
              <a class="form-control-static" [routerLink]="['/frequently-asked-question', frequentlyAskedQuestions.id, 'view']">{{
                frequentlyAskedQuestions.id
              }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sme-house', sMEHouse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sme-house', sMEHouse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sMEHouse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
