<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="history">
      <h2 data-cy="historyDetailsHeading"><span jhiTranslate="maisondelapmeApp.history.detail.title">History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ history.id }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.history.origin">Origin</span></dt>
        <dd>
          <span>{{ history.origin }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.history.action">Action</span></dt>
        <dd>
          <span>{{ history.action }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.history.actionDate">Action Date</span></dt>
        <dd>
          <span>{{ history.actionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.history.author">Author</span></dt>
        <dd>
          <span>{{ history.author?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/history', history.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
