<div>
  <h2 id="page-heading" data-cy="PartnerHeading">
    <span jhiTranslate="maisondelapmeApp.partner.home.title">Partners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.partner.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partner"
        [routerLink]="['/partner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="maisondelapmeApp.partner.home.createLabel"> Create a new Partner </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partners?.length === 0">
    <span jhiTranslate="maisondelapmeApp.partner.home.notFound">No partners found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="partners && partners.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.name">Name</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.address">Address</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.email">Email</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.phone">Phone</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.logo">Logo</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.latitude">Latitude</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.longitude">Longitude</span></th>
          <th scope="col"><span jhiTranslate="maisondelapmeApp.partner.smeHouse">Sme House</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partner', partner.id, 'view']">{{ partner.id }}</a>
          </td>
          <td>{{ partner.name }}</td>
          <td>{{ partner.address }}</td>
          <td>{{ partner.email }}</td>
          <td>{{ partner.phone }}</td>
          <td>{{ partner.logo }}</td>
          <td>{{ partner.latitude }}</td>
          <td>{{ partner.longitude }}</td>
          <td>
            <div *ngIf="partner.smeHouse">
              <a [routerLink]="['/sme-house', partner.smeHouse?.id, 'view']">{{ partner.smeHouse?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/partner', partner.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(partner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
