<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="advisor">
      <h2 data-cy="advisorDetailsHeading"><span jhiTranslate="maisondelapmeApp.advisor.detail.title">Advisor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ advisor.id }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.advisor.jobTitle">Job Title</span></dt>
        <dd>
          <span>{{ advisor.jobTitle }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.advisor.description">Description</span></dt>
        <dd>
          <span>{{ advisor.description }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.advisor.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ advisor.internalUser?.id }}</span>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.advisor.person">Person</span></dt>
        <dd>
          <div *ngIf="advisor.person">
            <a [routerLink]="['/person', advisor.person?.id, 'view']">{{ advisor.person?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="maisondelapmeApp.advisor.smeHouse">Sme House</span></dt>
        <dd>
          <div *ngIf="advisor.smeHouse">
            <a [routerLink]="['/sme-house', advisor.smeHouse?.id, 'view']">{{ advisor.smeHouse?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/advisor', advisor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
